* {
  font-family: "Roboto", sans-serif;
}

.black-text {
  color: black;
}

.first-page {
  background-image: url("../../images/sf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-me {
  font-family: "Roboto", sans-serif;
  font-weight: 130;
}

.about-me-border {
  border: 4px solid black !important;
  border: 30px;
}

.title {
  font-size: 3rem !important;
  margin-bottom: 3rem;
  color: black !important;
}

.skills-icon {
  width: 100px;
  height: 100px;
}

.about-me-p {
  font-size: 1.6rem;
  font-weight: 300;
}

.profile-pic {
  width: 100%;
  border-radius: 50px;
  /* border: 4px solid black; */
  padding: 25px;
}

.white-bg {
  background-color: white !important;
}

.light-gray-bg {
  background-color: rgb(242, 242, 247) !important;
}

.project-images {
  border: 4px solid rgba(229, 229, 234);
  border-radius: 30px;
  background-color: rgb(44, 44, 46);
}

.content h2 {
  color: black;
  font-size: 2.5rem;
}

.short-description {
  font-size: 1.8rem;
}

.app-description {
  font-size: 1.5rem;
  color: rgb(28, 28, 30);
}

.left-img {
  border-radius: 10px 0 0 10px;
}

.right-img {
  border-radius: 0 10px 10px 0;
}

.my-name {
  line-height: normal;
  font-size: 4rem !important;
  letter-spacing: normal;
  margin-bottom: 30px !important;
}

.job-title {
  font-size: 2rem !important;
}

.about-me-section {
  color: black;
}

.pink-text {
  color: #ff9ef7;
}

#about-me-pic {
  background-image: url("../../images/my-pic.JPG");
  background-size: contain;
  background-repeat: no-repeat;
}

.project-img {
  width: 250px !important;
  height: 450px !important;
}

.project-img-double {
  width: 500px !important;
  height: 450px;
}

.live-github {
  font-weight: 100;
  font-size: 2rem;
  border-bottom: none;
}

.contact {
  background-color: white !important;
  color: black !important;
}
